/* GENERAL */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

a {
  color: #3A79AA;
}

h2 {
  color: #555;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
}

.container {
  max-width: 1050px;
}

/*NAVIGATION*/

#logo {
  background: url('/images/logo.png') no-repeat;
  background-size: 200px;
  width: 200px;
  height: 175px;
  margin: 70px 0px 0px -10px;
}

.navigation a {
  color: rgba(0, 6, 15, 0.74);
  text-decoration: none;
}

.navigation {
  font-size: 20px;
  margin: 40px auto 70px;
  float: none;
}

.nav-item {
  margin-top: 10px;
}

/* POST */

.content {
  margin-top: 83px; 
}

.post-title {
  color: rgba(0, 6, 15, 0.74);
  font-weight: 400;
  font-size: 25;
}

.post-title a {
  color: rgba(0, 6, 15, 0.74);
  text-decoration: none;
}

.post-date {
  font-weight: 400;
  padding: 0px 0px 10px;
}

/* FOOTER */

footer {
  color: rgba(0, 6, 15, 0.74);
  margin: -5px auto 0px;
  width: 0px;
  padding: 60px 0px;
  font-size: 20px;
}

/* IMG */

img {
  width: 100%;
}

/* HR */

hr {
  margin: 80px 0px;
  border: 0;
  border-top: 2px solid #eee;
}

.section {
  height: 30px;
}

.date {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 20px;
}

.footer {
  margin-bottom: 150px;
}

.tweet {
  margin: 30px auto;
  width: 500px;
}

.post-image {
  border: 1px solid #E7E7E7;
  margin: 30px 0px;
}