<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenneth Transier</title>
  </head>

  <body>
    <div class="container">
      <div class="col-md-3">
        <a href="/">
          <div id="logo"></div>
        </a>
        <p class="short-bio">
          I'm Kenneth Transier, a programmer, designer, cartographer, and human rights campaigner based in Seattle.
        </p>
        <div>
          <a href="/about">
            <i class="fa fa-rocket" style="font-size: 25px;"></i> About
          </a>
        </div>
        <div>
          <a href="/kenneth-transier-resume.pdf">
            <i class="fa fa-bookmark" style="font-size: 25px;"></i> Résumé
          </a>
        </div>
        <div>
          <a href="mailto:hello@kenneth.fm">
            <i class="fa fa-paper-plane" style="font-size: 25px;"></i> hello@kenneth.fm
          </a>
        </div>
        <div>
          <a href="https://github.com/ktransier">
            <i class="fa fa-github" style="font-size: 25px;"></i> Github
          </a>
        </div>
        <div>     
          <a href="https://twitter.com/ktransier">
            <i class="fa fa-twitter" style="font-size: 25px;"></i> @ktransier
          </a>
        </div>
        <div>     
          <a href="https://www.linkedin.com/in/kennethtransier">
            <i class="fa fa-linkedin-square " style="font-size: 25px;"></i> LinkedIn
          </a>
        </div>

      </div>

          {{ content }}
        </div>
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
