<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenneth Transier</title>
  </head>

  <body>
    <div class="container">
      <div class="col-md-3">

        <!-- logo -->
        <a href="/">
          <div id="logo"></div>
        </a>

        <!-- navigation -->
        <div class="nav">
          <div>
            <a href="/about" class="nav-link">
              About
            </a>
          </div>
          <div>
            <a href="/resume/Kenneth-Transier-Resume.pdf" class="nav-link" target="_blank">
              Resume
            </a>
          </div>
          <div>
            <a href="mailto:hello@kenneth.fm" class="nav-link">
              hello@kenneth.fm
            </a>
          </div>
          <div class="social-icon-container">
            <div class="social-icon">
              <a href="https://github.com/ktransier" class="nav-link" target="_blank">
                <i class="fa fa-github" ></i>
              </a>
            </div>
            <div class="social-icon">     
              <a href="https://twitter.com/ktransier" class="nav-link" target="_blank">
                <i class="fa fa-twitter" ></i>
              </a>
            </div>
            <div class="social-icon">     
              <a href="https://www.linkedin.com/in/kennethtransier" class="nav-link" target="_blank">
                <i class="fa fa-linkedin-square "></i>
              </a>
            </div>
          </div>
        </div>

      </div>

          {{ content }}
        </div>
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
